a {
    color:#5f9dc1;
}

body {
    background: #e8f6fa;
    font-family: "Roboto", sans-serif;
    margin: 0.5rem;
}

footer {
    border-top: 1px solid #f9f7fe;
    text-align: center;
    color: rgba(39, 33, 66, 0.6);
    font-size: 14px;
}

header {
    justify-content: center;
    text-align: center;
    padding: 0 0 30px 0;
    border-bottom: 1px solid #f9f7fe;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

main {
    display: block;
    padding: 3rem 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
  }
  
  ul li {
    list-style-type: none;
    align-items: center;
    text-align: center;
  }
  
  ul li:hover {
    background-color: #effbfe;
    border-radius: 10px;
  }
  
  .current-details strong,
  .max-temperature,
  .min-temperature {
    color: red;
    padding: 5px 10px;
  }
  
.current-city {
    font-size: 38px;
    font-weight: 900;
    margin: 0;
}

.current-details {
    color: rgba(39, 33, 66, 0.4);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.current-details  strong {
    color: red;
  }
.current-temperature {
    display: flex;
    align-items: center; /* Center vertically */
}

.current-temperature-icon {
    width: 88px;
    height: 88px;
}

.current-temperature-unit {
    margin-top: -35px;
    font-size: 30px;
    display: block;
}

.current-temperature-value {
    font-size: 80px;
    font-weight: bold;
}

.current-weather {
    display: flex;
    justify-content: space-between;
}

.search-button {
    margin-left: 5px;
    font-size: 16px;
    background-color: #88c9de;
    color: white;
    border: none;
    padding: 1.25rem 1.5rem;
    line-height: 1;
    border-radius: 5px;
    font-family: PT mono;
}

.search-button:hover {
    background-color: #5f9dc1; /* Change background color on hover */
    cursor:grab;
}

.search-input {
    background-color: #e8f6fa;
    border: none;
    color: rgba(39, 33, 66, 0.4);
    font-size: 16px;
    padding: 1.25rem;
    width: 80%;
    border-radius: 6px;
    font-family: PT Mono;
}

.weather-app {
    background: white;
    max-width: 600px;
    margin: 60px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.forecast-weather{
margin-top: 20px;   
 text-align: center;
}

.forecast-day {
    font-size: 16px;
    color: #5b8998;
    padding: 8px;
  }
  
.forecast-min-max-temp {
    padding: 5px;
  }